body {
  background: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 100px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  font-style: italic;
  text-align: center;
}

header {
  margin-bottom: 30px;
}
a {
  color: #dc3dae;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid #dc3dae;
  width: 80%;
  border-radius: 50px;
  line-height: 20px;
}

.button {
  margin-left: 10px;
  color: #dc3dae;
  background: white;
  border: 1px solid #dc3dae;
  border-radius: 50px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
}

.button:hover {
  color: white;
  background: #dc3dae;
  cursor: pointer;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #dc3dae;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

.poem strong {
  color: #dc3dae;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  opacity: 0.6;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
